html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

body {
     cursor: crosshair;
     font-family: sans-serif;
     background-image: url(../images/Wallpaper.jpg);
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     padding: 0;
     margin: 0;
     animation: fadeIn ease 4s;
}

.main {
     max-width: 1000px;
     margin: auto;
 }

a {
     color: white;
     transition: 0.8s ease-out;
     text-decoration: none;
}

.content {
     width: 60%;
     margin: 0 auto;
     z-index: -1;
     position: absolute;
     top: 60%;
     left: 10%;
     transform: translate(0, -50%);
}

.content h1 {
     font-family: sans-serif;
     font-size: 54px;
     color: #101010;
     font-weight: 700;
     text-transform: uppercase;
}

.content p {
     margin-top: 0;
     text-align: left;
     color: #101010;
     font-weight: 400;
}

.overlay-2 {
     z-index: 0;
     position: absolute;
     width: 100%;
     height: 110vh;
     background: #101010;
}

.overlay {
     z-index: 1;
     position: absolute;
     width: 100%;
     top: -5%;
     bottom: 5%;
     height: 110vh;
     background: #101010;
}

.overlay p {
     font-size: 300px;
     font-weight: 800;
}

.screen {
     color: #0097ff;
     font-family: sans-serif;
     position: absolute;
     top: -5%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-shadow: 2px 2px white;
     animation: text 3s 1;
     transition-duration: 0.4s;
     animation: fadeIn ease 5s;
     -webkit-animation: fadeIn ease 5s;
}

.screen:hover {
     color: white;
     font-family: sans-serif;
     position: absolute;
     top: -5%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-shadow: 2px 2px #0097ff;
     animation: fadeIn ease 5s;
     -webkit-animation: fadeIn ease 5s;
}

.screen2 {
     color: #0097ff;
     font-family: sans-serif;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-shadow: 2px 2px white;
     animation: text 3s 1;
     transition-duration: 0.4s;
     animation: fadeIn ease 5s;
     -webkit-animation: fadeIn ease 5s;
}

.screen2:hover {
     color: white;
     font-family: sans-serif;
     position: absolute;
     top: 45%;
     left: 50%;
     transform: translate(-50%, -50%);
     text-shadow: 2px 2px #0097ff;
     animation: fadeIn ease 5s;
     -webkit-animation: fadeIn ease 5s;
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

.myBtn2 {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

.myBtn3 {
     font-family: Poppins;
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

.ShowmyBtn {
     font-family: Poppins;
     position: absolute;
     top: 95%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

.ContactBtn {
     font-family: Poppins;
     position: absolute;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

.ContactBtn2 {
     font-family: Poppins;
     position: absolute;
     top: 70%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
     width: 500px;
}

.BackHome {
     font-family: Poppins;
     position: absolute;
     top: 90%;
     left: 50%;
     transform: translate(-50%, -50%);
     animation: fadeIn ease 2s;
     -webkit-animation: fadeIn ease 2s;
}

button {
     display: block;
     padding: 24px 48px;
     font-family: sans-serif;
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 6px;
     color: white;
     border: 2px solid white;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     z-index: 1;
     cursor: crosshair;
     transition: 0.8s ease-out;
}

.myBtn:hover {
     cursor: grab;
}

.myBtn2:hover {
     cursor: grab;
}

.myBtn3:hover {
     cursor: grab;
}

.ShowmyBtn:hover {
     cursor: grab;
}

.ContactBtn:hover {
     cursor: grab;
}

.ContactBtn2:hover {
     cursor: grab;
}

.BackHome:hover {
     cursor: grab;
}

.myBtn:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn2:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn3:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.ShowmyBtn:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.ContactBtn:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.ContactBtn2:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.BackHome:before {
     content: "";
     position: absolute;
     background: #16537e;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
}

.myBtn2:hover:before {
     top: 0;
}

.myBtn3:hover:before {
     top: 0;
}

.ShowmyBtn:hover:before {
     top: 0;
}

.ContactBtn:hover:before {
     top: 0;
}

.ContactBtn2:hover:before {
     top: 0;
}

.BackHome:hover:before {
     top: 0;
}



::-webkit-scrollbar {
     width: 20px;
     animation: text 3s 1;
     animation: ease 3s 1;
}

::-webkit-scrollbar:hover {
     animation: text 3s 1;
     animation: ease 3s 1;
}
   
::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
}
    
::-webkit-scrollbar-thumb {
     background: grey; 
     animation: text 3s 1;
     animation: ease 3s 1;
}
   
::-webkit-scrollbar-thumb:hover {
     background: #0097ff; 
}

#informationbox {
     align-content: center;
     width: 1000px;
     height: 470px;
     padding: 30px;
     color: white;
     border-radius: 1em;
     padding: 1em;
     box-shadow: 0 0 2em -1em white;
     transition: all, var(--transition-time);
     border: 5px solid #0097ff;
     text-decoration: none;
     animation: text 3s 1;
     animation: ease 3s 1;
     --bg-filter-opacity: 0.5;
     background-image: url(../images/Opacity.png);
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

#informationbox:hover {
     box-shadow: 0 0 2em -1em transparent;
}

#smallinfobox {
     align-content: center;
     width: 600px;
     height: 14.6em;
     padding: 30px;
     color: white;
     border-radius: 1em;
     padding: 1em;
     box-shadow: 0 0 2em -1em white;
     transition: all, var(--transition-time);
     border: 5px solid #0097ff;
     text-decoration: none;
     animation: text 3s 1;
     animation: ease 3s 1;
     --bg-filter-opacity: 0.5;
     background-image: url(../images/Opacity.png);
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

#smallinfobox:hover {
     box-shadow: 0 0 2em -1em transparent;
}

#educationbox {
     font-family: sans-serif;
     width: 1000px;
     height: 260px;
     padding: 30px;
     color: white;
     border-radius: 1em;
     padding: 1em;
     box-shadow: 0 0 2em -1em white;
     transition: all, var(--transition-time);
     border: 5px solid #0097ff;
     text-decoration: none;
     animation: text 3s 1;
     animation: ease 3s 1;
     --bg-filter-opacity: 0.5;
     background-image: url(../images/Opacity.png);
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

#educationbox:hover {
     box-shadow: 0 0 2em -1em transparent;
}

#skillbarbox {
     font-family: sans-serif;
     width: 1000px;
     height: 315px;
     padding: 30px;
     color: white;
     border-radius: 1em;
     padding: 1em;
     box-shadow: 0 0 2em -1em white;
     transition: all, var(--transition-time);
     border: 5px solid #0097ff;
     text-decoration: none;
     animation: text 3s 1;
     animation: ease 3s 1;
     --bg-filter-opacity: 0.5;
     background-image: url(../images/Opacity.png);
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

#skillbarbox:hover {
     box-shadow: 0 0 2em -1em transparent;
}

.bar {
     background-color: black;
     padding: 5px;
     border-radius: 20px;
     margin-bottom: 5px;
     font-size: 15px;
     color: #FFF;
     font-weight: bold;
     text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
 }
 
 .bar::before {
     content: attr(data-skill);
     background-color: #f3b0ff;
     display: inline-block;
     padding: 5px 0 5px 10px;
     border-radius: inherit;
     animation: load 2s 0s;
     -webkit-animation: load 2s 0s;
     -moz-animation: load 2s 0s;
     -o-animation: load 2s 0s;
 }
 
     /*Visual Basic Bar Colour*/
     .bar.vbbar::before {
         background-color: red;
     }
 
     /*JavaScript Bar Colour*/
     .bar.jbar::before {
         background-color: orangered;
     }
 
     /*C++ C# + JavaScript Bar Colour*/
     .bar.cbar::before {
         background-color: orange;
     }
 
     /*HTML Bar Colour*/
     .bar.htmlbar::before {
         background-color: green;
     }
 
     /*Know But Don't Use 60%*/
     .bar.fifthy::before {
         width: calc(50% - 10px);
     }
 
     /*Understand to Extent 80%*/
     .bar.sixty::before {
         width: calc(60% - 10px);
     }
 
     /*Understand to Extent 80%*/
     .bar.eighty::before {
         width: calc(80% - 10px);
     }
 
     /*Best Skill 100%*/
     .bar.expert::before {
         width: calc(100% - 10px);
     }

:root {
     --color: black;
     --transition-time: 1s;
 }
 
 * {
     box-sizing: border-box;
 }
 
 .cards-wrapper {
     display: grid;
     justify-content: center;
     align-items: center;
     grid-template-columns: 1fr 1fr 1fr;
     grid-gap: 4rem;
     padding: 4rem;
     margin: 0 auto;
     animation: text 3s 1;
     animation: ease 3s 1;
 }
 
 .card {
     font-family: sans-serif;
     --bg-filter-opacity: 0.5;
     background-image: linear-gradient(rgba(46,46,46,var(--bg-filter-opacity)),rgba(46,46,46,var(--bg-filter-opacity))), var(--bg-img);
     height: 14.6em;
     width: 14.6em;
     font-size: 1.25em;
     color: white;
     border: 5px solid #0097ff;
     border-radius: 1em;
     padding: 1em;
     display: flex;
     align-items: flex-end;
     background-size: cover;
     background-position: center;
     box-shadow: 0 0 2em -1em white;
     transition: all, var(--transition-time);
     position: relative;
     overflow: hidden;
     text-decoration: none;
 }
 
     .card:hover {
         transform: rotate(0);
         box-shadow: 0 0 2em -1em transparent;
     }
 
     .card h1 {
         margin: 0;
         font-size: 1.5em;
         line-height: 1.2em;
         text-align: center;
     }
 
     .card p {
         font-size: 0.75em;
         font-family: sans-serif;
         margin-top: 0.5em;
         line-height: 2em;
     }
 
     .card .tags {
         display: flex;
     }
 
 .card .tags .tag {
      font-size: 0.75em;
      background: rgba(255,255,255,0.5);
      border-radius: 0.3rem;
      padding: 0 0.5em;
      margin-right: 0.5em;
      line-height: 1.5em;
      transition: all, var(--transition-time);
 }
 
 .card:hover .tags .tag {
     background: #4f4f4f;
     color: white;
 }
 
 .card:before, .card:after {
     content: '';
     transform: scale(0);
     transform-origin: top left;
     border-radius: 50%;
     position: absolute;
     left: -50%;
     top: -50%;
     z-index: -5;
     transition: all, var(--transition-time);
     transition-timing-function: ease-in-out;
 }
 
 .card-grid-space .num {
     font-size: 3em;
     margin-bottom: 1.2rem;
     margin-left: 1rem;
 }
 

h1 {
     color: white;
     text-align: center;
     transition-duration: 0.4s;
     text-shadow: 1px 1px 5px #0097ff;
     animation: text 3s 1;
     animation: ease 3s 1;
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}


h1:hover {
     color: #0097ff;
     text-shadow: 1px 1px 2px white;
}

hr {
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

img {
     border: 5px solid #0097ff;
     border-radius: 1em;
     animation: text 3s 1;
     animation: ease 3s 1;
     box-shadow: 0 0 2em -1em white;
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

img:hover {
     box-shadow: 0 0 2em -1em transparent;
     animation: text 3s 1;
     animation: ease 3s 1;
     animation: fadeOut ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

.footer {
     font-family: Poppins;
     width: 100%;
     background-color: #4f4f4f;
     color: white;
     text-shadow: 1px 1px 5px #0097ff;
     text-align: center;
     position: relative;
     transition-duration: 0.4s;
     animation: text 3s 1;
     animation: ease 3s 1;
     animation: fadeIn ease 3s;
     -webkit-animation: fadeIn ease 3s;
}

.footer p:hover {
     color: #0097ff;
     text-shadow: 1px 1px 5px white;
}

@keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
   }
   
   @-moz-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
   }
   
   @-webkit-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
   }
   
   @-o-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
   }
   
   @-ms-keyframes fadeIn {
     0% {opacity:0;}
     100% {opacity:1;}
   }
