/***************************
    BODY START
***************************/

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    cursor: crosshair;
    font-family: sans-serif;
    height: 100vh;
    padding: 0;
    margin: 0;
    animation: fadeIn ease 4s;
    background: #101010;
    background-size: 400% 400%;
    -webkit-animation: FadeBackground 15s ease infinite;
    -moz-animation: FadeBackground 15s ease infinite;
    animation: FadeBackground 15s ease infinite;
}

@-webkit-keyframes FadeBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes FadeBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

@keyframes FadeBackground {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

.main {
    max-width: 69.1vw;
    margin: auto;
}

a {
    color: white;
    transition: 0.8s ease-out;
    text-decoration: none;
}

a:hover {
    color: black;
}

@viewport {
    width: device-width;
    zoom: 1.0;
}

@-ms-viewport {
    width: device-width;
}


/***************************
    BODY END
***************************/


/***************************
    MAIN NAV BAR START
***************************/

.header {
    overflow: hidden;
    background-color: #101010;
    padding: 5px 10px;
    font-family: Poppins;
    border-radius: 5px;
    position: fixed;
    width: 69.1vw;
    z-index: 9999;
    border: 2.5px solid black;
}

.header a {
    float: center;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 0.79vw;
    line-height: 2.63vh;
    border-radius: 5px;
}

.header a.logo {
    font-weight: bold;
}

@media screen and (min-width: 601px) {
    .header a.logo {
        font-size: 1.0vw;
    }
}

@media screen and (max-width: 600px) {
    .header a.logo {
        display: none;
    }
}

.header a.TextSmall {
    font-size: 12px;
}

@media screen and (min-width: 601px) {
    .header a.TextSmall {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .header a.TextSmall {
        font-size: 9.3px;
    }
}

.header a:hover {
    background-color: black;
    color: white;
}

.header a.active {
    background-color: black;
    color: white;
}

.header-right {
    float: right;
}

@media screen and (max-width: 26.6vw) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}


/***************************
     NAV BAR END
***************************/


/***************************
    WEBSITE INTRO START
***************************/

.content {
    width: 60%;
    margin: 0 auto;
    z-index: -1;
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(0, -50%);
}

.content h1 {
    font-family: sans-serif;
    font-size: 2.8vw;
    color: #101010;
    font-weight: 700;
    text-transform: uppercase;
}

.content p {
    margin-top: 0;
    text-align: left;
    color: #101010;
    font-weight: 200;
}

.overlay-2 {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 110vh;
    background: #101010;
    background-size: 400% 400%;
    -webkit-animation: FadeBackground 15s ease infinite;
    -moz-animation: FadeBackground 15s ease infinite;
    animation: FadeBackground 15s ease infinite;
}

.overlay {
    z-index: 1;
    position: absolute;
    width: 100%;
    top: -5%;
    bottom: 5%;
    height: 110vh;
    background: #101010;
    background-size: 400% 400%;
    -webkit-animation: FadeBackground 15s ease infinite;
    -moz-animation: FadeBackground 15s ease infinite;
    animation: FadeBackground 15s ease infinite;
}

.overlay p {
    font-size: 15.9vw;
    font-weight: 800;
}

.screen {
    color: #323232;
    font-family: Poppins;
    position: absolute;
    top: 19%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: text 3s 1;
    transition-duration: 0.4s;
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}

.screen:hover {
    color: #323232;
    font-family: Poppins;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
}


/***************************
    WEBSITE INTRO END
***************************/


/***************************
    BUTTON START
***************************/

@media screen and (min-height: 901px) {
    button {
        display: none;
    }
}

@media screen and (max-height: 900px) {
    button {
        display: block;
    }
}

.myBtn {
    font-family: Poppins;
    font-size: 13px;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    border-radius: 30px;
}

.myBtn2 {
    font-family: Poppins;
    font-size: 13px;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    border-radius: 30px;
}

.myBtn3 {
    font-family: Poppins;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.ShowmyBtn {
    font-family: Poppins;
    position: absolute;
    font-size: 13px;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 0s;
    -webkit-animation: fadeIn ease 0s;
}

.ContactBtn {
    font-family: Poppins;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

.ContactBtn2 {
    font-family: Poppins;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    width: 26.6vw;
}

.BackHome {
    font-family: Poppins;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
}

button {
    display: block;
    padding: 2.528977871443625vh 2.5545502927088877vw;
    font-family: Poppins;
    font-weight: 700;
    font-size: 0.63vw;
    letter-spacing: 0.5vw;
    color: white;
    border: 2px solid white;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: crosshair;
    transition: 0.8s ease-out;
}

button:hover {
    cursor: grab;
}

.myBtn:hover {
    cursor: grab;
}

.myBtn2:hover {
    cursor: grab;
}

.myBtn3:hover {
    cursor: grab;
}

.ShowmyBtn:hover {
    cursor: grab;
}

.ContactBtn:hover {
    cursor: grab;
}

.ContactBtn2:hover {
    cursor: grab;
}

.BackHome:hover {
    cursor: grab;
}

.myBtn:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn2:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn3:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.ShowmyBtn:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.ContactBtn:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.ContactBtn2:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.BackHome:before {
    content: "";
    position: absolute;
    background: black;
    border: 4px solid #101010;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    transition: top 0.8s ease-out;
}

.myBtn:hover:before {
    top: 0;
}

.myBtn2:hover:before {
    top: 0;
}

.myBtn3:hover:before {
    top: 0;
}

.ShowmyBtn:hover:before {
    top: 0;
}

.ContactBtn:hover:before {
    top: 0;
}

.ContactBtn2:hover:before {
    top: 0;
}

.BackHome:hover:before {
    top: 0;
}


/***************************
    BUTTON END
***************************/


/***************************
    SCROLL BAR START
***************************/

::-webkit-scrollbar {
    width: 0.79vw;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}

::-webkit-scrollbar-thumb {
    background: grey;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}


/***************************
    SCROLL BAR END
***************************/


/***************************
    INFO BOX START
***************************/

.SocialRow {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.SocialColumn {
    flex: 50%;
    padding: 0 4px;
}

.SocialColumn img {
    margin-top: 8px;
    vertical-align: middle;
}

.SocialRow img {
    border: 2.5px solid black;
    border-radius: 50%;
}

.SocialRow img:hover {
    box-shadow: 0 0 2em -1em white;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
}

#informationbox {
    align-content: center;
    width: 69.1vw;
    height: 40.0vh;
    padding: 30px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 2em -1em white;
    transition: all, var(--transition-time);
    border: 2.5px solid black;
    text-decoration: none;
    animation: text 3s 1;
    animation: ease 3s 1;
    --bg-filter-opacity: 0.5;
    background-image: url(../images/Opacity.png);
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

@media screen and (min-height: 901px) {
    #informationbox {
        height: 40.0vh;
    }
}

@media screen and (max-height: 900px) {
    #informationbox {
        height: 44.0vh;
    }
}

#informationbox:hover {
    box-shadow: 0 0 2em -1em transparent;
}

#smallinfobox {
    align-content: center;
    width: 31.9vw;
    height: 24.6vh;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 2em -1em white;
    transition: all, var(--transition-time);
    border: 2.5px solid black;
    text-decoration: none;
    animation: text 3s 1;
    animation: ease 3s 1;
    --bg-filter-opacity: 0.5;
    background-image: url(../images/Opacity.png);
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

#smallinfobox:hover {
    box-shadow: 0 0 2em -1em transparent;
}

#educationbox {
    font-family: sans-serif;
    height: 33.7vh;
    padding: 15.9vw;
    width: 69.1vw;
    height: 33.7vh;
    padding: 30px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 2em -1em white;
    transition: all, var(--transition-time);
    border: 2.5px solid black;
    text-decoration: none;
    animation: text 3s 1;
    animation: ease 3s 1;
    --bg-filter-opacity: 0.5;
    background-image: url(../images/Opacity.png);
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

#educationbox:hover {
    box-shadow: 0 0 2em -1em transparent;
}

@media screen and (min-height: 901px) {
    #educationbox {
        height: 33.7vh;
    }
}

@media screen and (max-height: 900px) {
    #educationbox {
        height: 45.7vh;
    }
}

#skillbarbox {
    font-family: sans-serif;
    width: 69.1vw;
    height: 34.7vh;
    padding: 30px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 2em -1em white;
    transition: all, var(--transition-time);
    border: 2.5px solid black;
    text-decoration: none;
    animation: text 3s 1;
    animation: ease 3s 1;
    --bg-filter-opacity: 0.5;
    background-image: url(../images/Opacity.png);
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

#skillbarbox:hover {
    box-shadow: 0 0 2em -1em transparent;
}

@media screen and (min-width: 601px) {
    #skillbarbox {
        height: 40.7vh;
    }
}

@media screen and (max-width: 600px) {
    #skillbarbox {
        height: 325px;
    }
}

.bar {
    background-color: black;
    padding: 5px;
    border-radius: 20px;
    margin-bottom: 5px;
    font-size: 0.79vw;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #f3b0ff;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar {
    font-size: 12px;
}

@media screen and (min-width: 601px) {
    .bar {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .bar {
        font-size: 2vw;
    }
}


/*Visual Basic Bar Colour*/

.bar.vbbar::before {
    background-color: red;
}


/*JavaScript Bar Colour*/

.bar.jbar::before {
    background-color: orangered;
}


/*C++ C# + JavaScript Bar Colour*/

.bar.cbar::before {
    background-color: orange;
}


/*HTML Bar Colour*/

.bar.htmlbar::before {
    background-color: green;
}


/*Know But Don't Use 60%*/

.bar.fifthy::before {
    width: calc(50% - 0.53vw);
}


/*Understand to Extent 80%*/

.bar.sixty::before {
    width: calc(60% - 0.53vw)
}


/*Understand to Extent 80%*/

.bar.eighty::before {
    width: calc(80% - 0.53vw);
}


/*Best Skill 90%*/

.bar.expert::before {
    width: calc(96% - 0.53vw);
}

@media screen and (min-width: 601px) {
    .bar.expert::before {
        width: calc(99.5% - 0.53vw);
    }
}

@media screen and (max-width: 600px) {
    .bar.expert::before {
        width: calc(96% - 0.53vw);
    }
}

:root {
    --color: black;
    --transition-time: 1s;
}

* {
    box-sizing: border-box;
}

.cards-wrapper {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
    padding: 4rem;
    margin: 0 auto;
    animation: text 3s 1;
    animation: ease 3s 1;
}

.card {
    font-family: sans-serif;
    --bg-filter-opacity: 0.5;
    background-image: linear-gradient(rgba(46, 46, 46, var(--bg-filter-opacity)), rgba(46, 46, 46, var(--bg-filter-opacity))), var(--bg-img);
    background-size: 50%;
    background-repeat: none;
    background-position: center;
    height: 24.6vh;
    width: 17.9vw;
    color: white;
    border: 2.5px solid black;
    border-radius: 1em;
    padding: 1em;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 0 2em -1em white;
    transition: all, var(--transition-time);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}

.card:hover {
    transform: rotate(0);
    box-shadow: 0 0 2em -1em transparent;
}

.card h1 {
    margin: 0;
    font-size: 1.2vw;
    line-height: 2.0vh;
    text-align: center;
}

@media screen and (min-width: 601px) {
    .card h1 {
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 600px) {
    .card h1 {
        font-size: 2.4vw;
    }
}

.card p {
    font-size: 0.6vw;
    font-family: sans-serif;
    margin-top: 0.5em;
    line-height: 3.3vh;
}

.card .tags {
    display: flex;
}

.card .tags .tag {
    font-size: 0.6vw;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 0.3rem;
    padding: 0 0.5em;
    margin-right: 0.5em;
    line-height: 2.5vh;
    transition: all, var(--transition-time);
}

.card:hover .tags .tag {
    background: #4f4f4f;
    color: white;
}

.card:before,
.card:after {
    content: '';
    transform: scale(0);
    transform-origin: top left;
    border-radius: 50%;
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -5;
    transition: all, var(--transition-time);
    transition-timing-function: ease-in-out;
}

.card-grid-space .num {
    font-size: 2.5vw;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
}


/***************************
    INFO BOX END
***************************/


/***************************
     HEADER CSS
***************************/

h1 {
    font-size: 2.25vw;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
    text-shadow: 1px 1px 5px black;
    animation: text 3s 1;
    animation: ease 3s 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}

h2 {
    color: black;
}

h5 {
    font-size: 10px;
}

h4 {
    color: black;
}

p {
    font-size: 12px;
}

hr {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
}


/***************************
     IMAGE CSS
***************************/

img {
    border: 2.5px solid black;
    border-radius: 1em;
}

img:hover {
    box-shadow: 0 0 2em -1em transparent;
    animation: text 3s 1;
    animation: ease 3s 1;
    animation: fadeOut ease 3s;
}


/***************************
     FOOTER CSS
***************************/

.footer {
    font-family: Poppins;
    width: 100%;
    color: white;
    text-shadow: 1px 1px 5px black;
    text-align: center;
    position: relative;
    transition-duration: 0.4s;
    animation: text 3s 1;
    animation: ease 3s 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    background-color: #101010;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2.5px solid black;
}

.footer p:hover {
    color: black;
    text-shadow: 1px 1px 5px white;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/***************************
     WORK START
***************************/

.myProjects {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    border: 2.5px solid black;
    border-radius: 1em;
    box-shadow: 0 0 2em -1em white;
}

.isFinished {
    color: grey;
    font-size: 22px;
}

.myProjects img {
    border-radius: 1em;
    border: none;
}

.myProjects button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.myProjects button:hover {
    opacity: 0.7;
}

.column {
    float: left;
    width: 33.33%;
    padding: 0 10px;
    color: white;
    transition: all, var(--transition-time);
    animation: text 3s 1;
    animation: ease 3s 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    height: 45vh;
}

@media screen and (min-width: 601px) {
    .column {
        height: 45vh;
    }
}

@media screen and (min-width: 1000px) {
    .column {
        height: 40vh;
    }
}

@media screen and (max-width: 600px) {
    .column {
        height: 30vh;
    }
}

.column:hover {
    box-shadow: 0 0 1.7vw 0.85vw transparent;
}

.column h5 {
    font-size: 15px;
}

@media screen and (min-width: 601px) {
    .column h5 {
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .column h5 {
        font-size: 9px;
    }
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.left,
.right {
    width: 33.3%;
}

.middle {
    width: 33.3%;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
}


/***************************
     WORK END
***************************/


/***************************
     Contact Box Start
***************************/

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.contactcontainer {
    font-family: sans-serif;
    width: 53.2vw;
    height: 67.4vh;
    padding: 30px;
    color: white;
    border-radius: 1em;
    padding: 1em;
    transition: all, var(--transition-time);
    text-decoration: none;
    animation: text 3s 1;
    animation: text 3s 1;
    animation: ease 3s 1;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    transition: all, var(--transition-time);
}

.label {
    box-shadow: 0 0 2em -1em red;
}

.contactcontainer:hover {
    box-shadow: 0 0 2em -1em transparent;
}

.column2 {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen {
    .column2,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

textarea {
    height: 26.3vh;
    max-height: 26.3vh;
    min-height: 26.3vh;
}

.FormSubmitText {
    font-size: 10px;
}


/***************************
     Contact Box END
***************************/