html, body {
     margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
}

body {
     cursor: crosshair;
     font-family: Poppins;
     background-color: #101010;
     background-size: cover;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 100vh;
     padding: 0;
     margin: 0;
}

.main {
     max-width: 1000px;
     margin: auto;
 }

a {
     color: white;
     transition: 0.8s ease-out;
     text-decoration: none;
}

.content {
     width: 60%;
     margin: 0 auto;
     z-index: -1;
     position: absolute;
     top: 60%;
     left: 10%;
     transform: translate(0, -50%);
}

.content h1 {
     font-family: Poppins;
     font-size: 54px;
     color: #101010;
     font-weight: 700;
     text-transform: uppercase;
}

.content p {
     margin-top: 0;
     text-align: left;
     color: #101010;
     font-weight: 400;
}

.overlay-2 {
     z-index: 0;
     position: absolute;
     width: 100%;
     height: 110vh;
     background: #101010;
}

.overlay {
     z-index: 1;
     position: absolute;
     width: 100%;
     top: -5%;
     bottom: 5%;
     height: 110vh;
     background: #101010;
}

.overlay p {
     font-size: 300px;
     font-weight: 800;
}

.screen {
     color: white;
     font-family: Poppins;
     position: absolute;
     top: -5%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.screen2 {
     color: white;
     font-family: Poppins;
     position: absolute;
     top: 48%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.myBtn {
     font-family: Poppins;
     position: absolute;
     top: 40%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.myBtn2 {
     font-family: Poppins;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
}

.myBtn3 {
     font-family: Poppins;
     position: absolute;
     top: 60%;
     left: 50%;
     transform: translate(-50%, -50%);
}

button {
     display: block;
     padding: 24px 48px;
     font-family: Poppins;
     font-weight: 700;
     font-size: 12px;
     letter-spacing: 6px;
     color: white;
     border: 2px solid white;
     text-transform: uppercase;
     outline: none;
     overflow: hidden;
     background: none;
     z-index: 1;
     cursor: crosshair;
     transition: 0.8s ease-out;
}

.myBtn:hover {
     cursor: grab;
}

.myBtn2:hover {
     cursor: grab;
}

.myBtn3:hover {
     cursor: grab;
}

.myBtn:before {
     content: "";
     position: absolute;
     background: #4f4f4f;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn2:before {
     content: "";
     position: absolute;
     background: #4f4f4f;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn3:before {
     content: "";
     position: absolute;
     background: #4f4f4f;
     border: 4px solid #101010;
     bottom: 0;
     left: 0;
     right: 0;
     top: 100%;
     z-index: -1;
     transition: top 0.8s ease-out;
}

.myBtn:hover:before {
     top: 0;
}

.myBtn2:hover:before {
     top: 0;
}

.myBtn3:hover:before {
     top: 0;
}

/* width */
::-webkit-scrollbar {
     width: 20px;
   }
   
   /* Track */
   ::-webkit-scrollbar-track {
     box-shadow: inset 0 0 5px grey; 
   }
    
   /* Handle */
   ::-webkit-scrollbar-thumb {
     background: grey; 
   }
   
   /* Handle on hover */
   ::-webkit-scrollbar-thumb:hover {
     background: grey; 
   }

.RyanImage {
     align-content: center;
}

#informationbox {
     align-content: center;
     width: 1000px;
     height: 555px;
     padding: 30px;
     color: white;
     border-radius: 1em;
     padding: 1em;
     transition: all, var(--transition-time);
     border: 5px solid white;
     text-decoration: none;
     animation: text 3s 1;
     background-image: url(../images/Opacity.png);
}

h1 {
     color: white;
     text-align: center;
}

